@font-face {
  font-family: 'iconfont';  /* project id 563523 */
  src: url('https://at.alicdn.com/t/font_563523_1idx88y522y5jyvi.eot');
  src: url('https://at.alicdn.com/t/font_563523_1idx88y522y5jyvi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_563523_1idx88y522y5jyvi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_563523_1idx88y522y5jyvi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_563523_1idx88y522y5jyvi.svg#iconfont') format('svg');
}
#head{
	width: 100%;
	height: 0.85rem;
	background-color: #c10100;
	position: absolute;
	top: 0;
}
.content{
	 overflow: auto;
	 position:absolute;
	top: 0.85rem;
	bottom: 1.2rem;
	width:100%;
}
.head_item{
	
	width: 100%;
	height: 0.85rem;
}

.head_item_tubiao{
	font-size: 0.35rem;
	float: left;
	margin-left: 0.25rem;
	margin-right:  0.48rem;
	font-family: 'iconfont'; 
	text-align: center;
	line-height: 0.85rem;
	color: #fff;
	font-weight: bold;

}
.head_item_tubiao2{
	float: right;
}
.head_item_tubiao1{
	margin-left: 0;

}
.head_item_tubiao3{
	margin-left: 0;

}
#product{
	width: 100%;
	
	background-color: #fff;
}	
.product{
	width: 100%;
	height: 7.22rem;

}
.product_title{
	width: 6.65rem;
	font-size: 0.28rem;
	color: #b0b0b0;
	margin: 0 auto;
	height: 1.29rem;
	/* margin-bottom: 0.28rem; */
	background-color: #fff;
}
.product_title1{
	
	width: 6.65rem;
	font-size: 0.28rem;
	color: #afafaf;
	margin: 0 auto;
	height: 0.26rem;
	margin-bottom: 0.26rem;
}
.product_price{
	border-top: 0.01rem solid #dcdcdc;
	width: 6.65rem;
	margin: 0 auto;
	height: 0.57rem;
	padding-top: 0.16rem;
	font-size: 0.24rem;
	padding-bottom: 0.16rem;
}
.product_price1{
	color:#bc0300;
	font-size: 0.24rem;
	float: left;

}
.product_price2{
	color: #dcdcdc;
	font-size: 0.24rem;
	float: left;
	height:0.24rem;
	
}
.product_price3{
	color: #dcdcdc;
	font-size: 0.24rem;
	float: left;
	height:0.24rem;
	line-height: 0.57rem;
}
.bottom{
	width: 100%;
	height: 1.20rem;
	border-top: 0.01rem solid #dcdcdc;
	background-color: #eef3ef;
	position: absolute;
	bottom: 0;
}
.bottom_btn{
	margin: 0.2rem;
	width: 3.3rem;
	height: 0.8rem;
	border-radius: 0.1rem;
	background-color: #c10100;
	float: left;
}
.bottom_btn_wenzi{
	font-size: 0.32rem;
	text-align: center;
	line-height: 0.8rem;
	color: #fff;
}
.bottom_btn1{
	margin-left: 0;
	background-color: #25a9fb;
}
#product{
	width: 100%;
	
}
.product_shuliang{
	width: 6.65rem;
    margin: 0 auto;
	border-bottom: 0.01rem solid #dcdcdc;
	border-top:0.01rem solid #dcdcdc; 
	padding: 0.04rem 0;
	height: 0.57rem;
	margin-bottom: 1.64rem;
}
.product_fangkuang{
	width:1.02rem ;
	height:0.44rem ;
	border: 0.01rem solid #dcdcdc;
	padding-left: 0.16rem;
	line-height: 0.55rem;
	font-size: 0.18rem;
	color: #000000;
	float: left;
}